{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>¡Ups!</h1>
                <h2>500 Error del servidor</h2>
                <div class="error-details">
                    Algo salió mal en nuestro servidor. Por favor, inténtalo de nuevo más tarde.
                </div>
                <div class="error-actions">
                    <a href="{{ url_for('main.index') }}" class="btn btn-primary">
                        <i class="fas fa-home"></i> Ir a la página de inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
